@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$black: #1B1C22;
$white: #F4F6F5;

*, ::after, ::before {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth !important;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $black;
  scroll-behavior: smooth !important;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background: $black;
}