.cookieBanner {
    position: fixed;
    width: 65%;
    padding: 1%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    margin: 1.5% auto;

    a {
        color: #0BD5CB;
    }

    .cookieButton {
        padding: 4px 4%;
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.45s ease;

        &:hover {
            background-color: #000000;
            color: #FFFFFF;
        }
    }
}

@media screen and (max-width: 800px) {
    .cookieBanner {
        display: flex;
        flex-direction: column;

        .cookieText {
            text-align: center;
        }

        .cookieButton {
            padding: 4px 15%;
        }
    }
}