.productCard {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #CCE7D0;
    border-radius: 25px;
    margin: 15px 0;
    transition: all 0.45s ease;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    &:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    .info {
        text-align: start;
        padding: 10px 0;

        span {
            color: #0BD5CB;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;
        }

        .h5 {
            padding-top: 7px;
            color: #1A1A1A;
            font-size: 16px;
        }

        .h4 {
            padding-top: 7px;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

// .productCard {
//     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//     display: flex;
//     align-items: center;
//     margin: 15px;

//     .img {
//         padding: 10px;
//     }

//     .info {
//         padding: 10px;

//         .title {
//             text-transform: uppercase;
//             letter-spacing: 1px;
//         }

//         .description {
//             margin: 15px auto;
//             display: -webkit-box;
//             -webkit-line-clamp: 3;
//             -webkit-box-orient: vertical;
//             overflow: hidden;
//         }

//         .buttonContainer {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//         }
//     }
// }