.button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 8px;
    background-color: #E8F6EA;
    border: 1px solid #CCE7D0;
    border-radius: 50px;

    .icon {
        width: 22px;
        height: 22px;
        color: #088178;
        text-decoration: none;
    }
}